/* shared styled */
*{
    cursor: pointer;
}
body{
    font-family: 'Open Sans', sans-serif;
   
}
.text-primary{
  color: #FD6E0A;
}
.btn-primary{
     background-color: #FD6E0A;  
    border-radius: 5px;
    border: 0;
    color:white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-descrition{
color: #757575;
text-align: center;
font-size: 18px;
}
/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-tile{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.nav-tile:hover{

    background-color:rgba(238, 17, 17, 0.286);
}
nav >ul{
    display: flex;
    align-items: center;
}
nav li{
    font-size: 1.5rem;
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color:#FFFFFF;
}
nav li:hover{
    background-color:rgba(238, 17, 17, 0.286);
    text-decoration: underline;
}
.btn-primary:hover{
    background-color:rgba(238, 17, 17, 0.286);
}
/* header start here */
.header{
    background-color: #fff8f3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,top left;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-container{

    max-width: 500px;
}

.banner.profile-picture{
max-width: 500px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 45px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}


/* main section styles start */
main{
   max-width:1140px;
   margin: 0 auto;
}

main section{
    margin-top: 130px;
}

/* about section start start */
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #fff8f3;
    margin: 130px 0;
} 
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}


/* what id do and skilled related start here*/
#what-i do-description{

    padding:30px 150px;
}
.skills-container{
    display: flex;
    gap: 24px;
    
}
.skill{
    paddin:30px;
    padding: 30px;
    background: #fff;
    box-shadow:0px 6px 50px 0px rgba(0,0,0.06);
}
.skill-description{
color: #757575; 

}

/* resume-column section starts here */
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-container{
    display: flex;
    gap: 50px;
    
}
.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-item-institute{

    margin-bottom: 20px;
    margin-top: 0;
}

.resume-item-institute,
.resume-item-description{ 
    color: #757575;

}
.resume-container hr{
    margin: 30px;
} 
.download-CV{
   text-align: center;
   margin-top: 50px;
}

/* footer style section start here */

footer{
    display: flex;
    background: #fff8f3;
    margin-top: 100px;
    padding: 130px 200;
    gap: 100px;
}
.footer-column{
  max-width: 50%;  
}

.social-links a{
    margin-right: 25px;
    
}


.contact input[type="text"],.contact input[type="email"],
 textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;   
    color:#757575;
    border-radius: 5px;
    background: #fff;
    border: 0;
    width: 100%;
}




/* Small Device responsive style */

@media screen and (min-width: 576px) and (max-width:776px){
.banner-container{
width: 100%;
padding: auto;
}

 .footer,.skills-container,.banner,.resume-container{
    flex-direction: column;
    padding: 10px;
 }

.about-info-container{
    flex-direction: column;

}
.about{
  padding: 10px;
  margin-bottom: 10px;
}

nav{
    flex-direction: column;
}
} 
    
